# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/*
!*/migrations/__init__.py 